.escalar{
    display: flex;
    
    margin: 10px auto;
    align-items: center;
    justify-content: center;
     flex-direction: column;
    padding: 20px 32px;
}
.B_escalar{
    cursor: pointer;
    display: flex;
    margin: 0px auto;

}
.retirar{
    display: flex;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 32px;
}
.remove {
    cursor: pointer;
    display: flex;
    margin: 0px auto;
}
.txt1{
    border: 3px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    max-height: 200px;
    margin: auto;

    }

.negar {
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    width: 120px;
    height: 100px;
    top: 180px;
    left: 430px;

    
}
.conf {
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    width: 120px;
    height: 100px;
    top: 180px;
    left: 430px;
}
.conf, .negar{
    display: none;
    background-color: yellow;
}

